<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="fooder">
      AgroViva
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

   <h1><center>¿Porqué elegirnos?</center></h1>
   <p>Contamos con la experiencia de llevar el arranque de cultivos exitosos, la asesoria para 
     emprender juntos con todos los insumos necesarios; sustratos, vermiculita, sistemas de riego,
      etc. y sobre todo la confianza que nos da usted amigo agricultor para desarrollar con usted el
       medio necesario para arrancar exitosamente.
   </p>

    <h1>Mision</h1>
    <p>Brindar a nuestros productores la atención, servicio y calidad para sus cultivos, ofreciéndoles 
      los mejores productos del mercado a precios competitivos.
   </p>

     <h1>Vision</h1> 
     <p>Ser una empresa solida respaldada por las mejores marcas, logrando una mayor rentabilidad de 
       nuestra empresa hacia nuestros clientes, cubriendo sus necesidades al ofrecerles productos de 
       la más alta calidad a los mejores precios.
     </p>
      <center>
        <ion-button color="success" routerLink="../tab1"><ion-icon name="home-outline"></ion-icon>Inicio
        </ion-button>
        <ion-button color="success" routerLink="../tab3"><ion-icon name="analytics-outline"></ion-icon>Productos
        </ion-button>
      </center>
</ion-content>
