<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="fooder">
      AgroViva
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" [fullscreen]="true">
    <h1><center>Logramos con exito el crecimiento y desarrollo inicial de la plantula</center></h1>
    <p>Somos distribuidores autorizados de las marcas Pindstrup, Danykar y Acedrip que nos ayudan a
     fortalecer y lograr junto con la asesoria de nuestros expertos el arranque mas favorable para
      tu cultivo.
    </p>
    <center>
      <ion-button color="success" routerLink="../tab2"><ion-icon name="leaf-outline"></ion-icon>Informacion
      </ion-button>
        
      <ion-button color="success" routerLink="../tab3"><ion-icon name="analytics-outline"></ion-icon>Productos
      </ion-button>
    </center>
</ion-content>
