<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="fooder">
      AgroViva
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1><center>Los mejores suministros para tu cultivo</center></h1>
  <p>PEAT MOSS - SUSTRATOS<br>VERMICULITA<br>SISTEMA DE RIEGO<br>ACOLCHADOS</p>
  <center>
    <ion-button color="success" routerLink="../tab1"><ion-icon name="home-outline"></ion-icon>Inicio
    </ion-button>
    <ion-button color="success" routerLink="../tab2"><ion-icon name="leaf-outline"></ion-icon>Informacion
    </ion-button>
  </center>
</ion-content>
